<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Cine.Properties.Settings.CinexConnectionString"
            connectionString="Data Source=DESKTOP-B9JUCOR\SQL_INSTANCE;Initial Catalog=Cinex;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>